
<div class="container custom-container">
    
     <h4 class="mb-3 text-center">Pesquisar Funcionário</h4>

      <div class="form-row">
          <div class="form-group col-3">
              <input type="text" [(ngModel)]="funcionarioDetails.nome" class="form-control" placeholder="Nome">
          </div>
          <div class="form-group col">
              <input type="text" [(ngModel)]="funcionarioDetails.idade" class="form-control" placeholder="Idade">
          </div>
          <div class="form-group col">
              <input type="text" [(ngModel)]="funcionarioDetails.cargo" class="form-control" placeholder="Cargo">
          </div>
          <div class="form-group col">
              <button class="btn btn-success btn-block" (click)="pesquisarFuncionarios()">Pesquisar</button>
          </div>
      </div>
    
</div>

<br>
<div class="container custom-container">
  <!-- Caso tenha resultado da pesquisa montar a lista -->
  <div *ngIf="Funcionarios.length !== 0">
      
      <div class="col-md-12">
        <table class="table table-bordered">
          <caption>Resutado da pesquisa: {{Funcionarios.length}}</caption>
          <thead class="thead-light">
            <tr>
              <!-- <th scope="row">Id</th> -->
              <th scope="col">Nome</th>
              <th scope="col" class="text-center">Idade</th>
              <th scope="col">Cargo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let funcionario of Funcionarios">
              <!-- <td>{{funcionario._id}}</td> -->
              <td>{{funcionario.nome}}</td>
              <td class="text-center">{{funcionario.idade}}</td>
              <td>{{funcionario.cargo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>